@import url("https://fonts.googleapis.com/css?family=Sawarabi+Mincho");

:root {
  font-family: "Sawarabi Mincho", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.App {
  position: relative;
}
.maintitle {
  color: black;
  position: absolute;
  left: 43%;
  font-size: 50px;
}
.remaintesk{
  color: black;
  text-align:end;
  margin-right: 25%;
}
.addtodo {
  text-align: center;
  margin-top: 3%;
}

.newtodowrapper {
  text-align: center;
  margin-top: 100px;
}

.newtodotitle {
  text-align: center;
  padding-top: 10px;
}

.addbtnwrapper {
  text-align: center;
  margin-top: 100px;
}

.newtodo{
  display: block;
}

.newtodo:nth-child(2){
  margin-left:3em;
}
